  
body{
  background-color: #ececec;
  color: #333;
  font: normal 16px Arial, Helvetica, sans-serif;    
 
  line-height: 1.5; /* distance between one line of text and the next*/
  display:flex; 
  flex-direction:column; 
  align-items: center;
  height:100vh;
  margin: 0;
  padding: 0;
}

footer{
  background-color: #ffffff;
  max-width: 1140px;
  text-align: center;
  padding: 20px;

  margin-top:auto; 
  width: 100%;
}

h1 {
  color: #000;
  text-align: center;
  line-height: 1.4;
  padding: 20px;
}

h3 {
  text-align: center;
}

.main-container{
  width: 85%;
  height: 100%;
  max-width: 1140px;
  margin:auto;
  display: flex;        
  flex-direction: column;
  align-items: center;
}

#download-container{
  background-color: #fff;
  display: none;
  flex-direction: row; 
  margin-top: 50px;
  border-radius: 8px;
}

#thumbnail_img{
  max-width:100%;
  height:auto;
  display: block;
  border-radius: 8px;
}

#img-container{
  margin: 20px 0 20px 20px;
}

#download-info-container{
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.song-info-list{
  color: #000;
  padding-left:10px;
}

.song-info-list li {
  list-style-type: none;
  margin: 20px 0;
  font-size: 18px;
}

#artist  {
  font-size: 22px;
  line-height: 1.1;
}

#song-title{
  font-size: 38px;
  line-height: 1.1;
}

#song-duration{
  color: #666;
}

#download-btn{
  margin-top: auto;
  margin-bottom: 10px;
}

.info-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 20px;
}

.info-container > div {
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
}

.convert-form{
  width: 100%;
  margin-top: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#url-text-input{
  width: 100%;
  flex: 1;
  padding: 20px;
  margin-right: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn{
  width: 150px;
  background-color: #f44336;
  color:#fff;
  font-size: 20px;
  padding: 19px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn:hover{
    background-color: #ef5350;
}

.btn:active{
    background-color: #e57373;
}

.lds-ring {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 30px;
    align-content: center;
  }
  .lds-ring div {
    box-sizing: border-box;
    align-self: center;
    display: block;
    position: absolute;
    width: 48px;
    height: 48px;
    margin-left: 16px;
    border: 6px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #f44336 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  

/* @media screen and (max-width: 700px) {
  .info-container {
    flex-direction: column;
  }

  .convert-form {
    flex-direction: column;
    width: 100%;
  }

  #url-text-input{
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
  }
} */

@media screen and (max-width: 800px) {
  .info-container {
    flex-direction: column;
  }

  .convert-form {
    flex-direction: column;
    width: 100%;
  }

  #url-text-input{
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .btn {
    width: 100%;
  }

  #download-container{
    flex-direction: column; 
  }

  /* #download-info-container{
    margin-left: 0px;
  } */

  #img-container{
    margin: 20px 20px 0 20px;
  }
}